body {
    background-color: lightgray;
}

#graph-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10%;
}

#graph-canvas {
    width: 100%;
    height: auto;
    min-width: 320px;
    min-height: 240px;
    background-color: white;
}

#form-container {
    padding: 0px 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.number-input {
    margin-left: 10px;
    width: 10%;
    min-width: 40px;
}

button {
    min-width: 200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.selecting {
    background-color: red;
}

.selected {
    background-color: green;
}

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated;           /* Chrome */
}